---
layout: page
title: Home
---

{% assign page-data = site.data.pages.index[site.active_lang] %}

<section class="d-flex align-items-center" id="hero">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">{{ page-data.main-phrase }}</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">
                    {{ page-data.main-motto }}</h2>
                <div data-aos="fade-up" data-aos-delay="800">
                    <a class="btn-get-started scrollto" href="#about">{{ page-data.main-work-with-us }}</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                <img alt="" class="img-fluid animated" src="assets/img/hero-img.png">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<!-- ======= Clients Section ======= -->
{% include clients.html %}
<!-- ======= About Us Section ======= -->
<section class="about" id="about">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2> {{ page-data.about-title }}</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6 pt-4 pt-lg-0 " data-aos="fade-up" data-aos-delay="150">
                {{ page-data.about-description }}
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 p-5" data-aos="fade-up" data-aos-delay="150">
                <p class="text-justify">
                    {{ page-data.research-areas.title }}
                </p>
                <ul>
                    {% for item in page-data.research-areas.areas %}
                    <li class="text-justify"><i class="ri-check-double-line"></i>
                        {{ item }}
                    </li>
                    {% endfor %}
                </ul>
                <a class="btn-learn-more" href="{{ site.github.url }}research.html">{{ page-data.learn-more }}</a>
            </div>

        </div>

    </div>
</section><!-- End About Us Section -->

<!-- ======= Counts Section ======= -->
{% include stats.html %}
{% include cta.html %}
<!-- End Cta Section -->