<section class="clients clients" id="clients">
    <div class="container">

        <div class="row ">

            <div class="col-lg-2 col-md-6 col-6 mx-auto">
                <img alt="" class="img-fluid" data-aos="zoom-in" data-aos-delay="300"
                     src="{{ site.baseurl }}/assets/img/clients/biolabtech.png">
            </div>

            <div class="col-lg-2 col-md-6 col-6 mx-auto">
                <img alt="" class="img-fluid" data-aos="zoom-in" src="{{ site.baseurl }}/assets/img/clients/client-1.png">
            </div>

            <div class="col-lg-2 col-md-6 col-6 mx-auto">
                <img alt="" class="img-fluid" data-aos="zoom-in" data-aos-delay="10"
                     src="{{ site.baseurl }}/assets/img/clients/client-2.png">
            </div>

            <div class="col-lg-2 col-md-6 col-6 mx-auto">
                <img alt="" class="img-fluid" data-aos="zoom-in" data-aos-delay="200"
                     src="{{ site.baseurl }}/assets/img/clients/client-3.png">
            </div>

            <div class="col-lg-2 col-md-6 col-6 mx-auto">
                <img alt="" class="img-fluid" data-aos="zoom-in" data-aos-delay="400"
                     src="{{ site.baseurl }}/assets/img/clients/client-5.png">
            </div>


        </div>

    </div>
</section><!-- End Clients Section -->
