{% assign contacts = site.data.general[site.active_lang].contacts %}

<footer class="footer" id="footer">
  <!--    <section id="contact" class="contact">-->
  <div class="container ">
      <div class="row contact d-flex align-items-center ">

          <div class="col-lg-6 col-md-6  col-lg-offset-10 col-md-offset-10 text-lg-left ">
              <div class="contact-about">
                  <h3>sysbio.<span class="accent">ua</span></h3>
                  <p>{{ contacts.description}}</p>

                  <div class="social-links">
                      {% for item in site.data.settings.social %}
                      <a href="{{ item.link }}" class="{{ item.icon }}" target="_blank"><i class="bi bi-{{ item.icon }}" aria-hidden="true"></i></a>
                      {% endfor %}
                  </div>
              </div>
          </div>

          <div class="col-lg-6 col-md-6 mt-md-0 text-lg-left">
              <div class="info">
                  <div class="pb-1">
                      <h5> {{ contacts.name }}</h5>
                  </div>
                  <div>
                      <i class="ri-map-pin-line"></i>
                      <p>
                          <a href="http://imbg.org.ua/uk/dept/enzymology/lab_sysbiol/">
                              {{ contacts.institute }}
                          </a>,
                          </br> {{ contacts.address }}</p>
                  </div>

                  <div>
                      <i class="ri-mail-send-line"></i>
                      <p>{{ contacts.email }}</p>
                  </div>

                  <div>
                      <i class="ri-phone-line"></i>
                      <p> {{ contacts.phone }}</p>
                  </div>

              </div>
          </div>
      </div>

  </div>

  <section class="footer mb-0">
      <div class="container">

          <div class="row d-flex align-items-center pb-1 mb-1">
              <div class="col-lg-6 col-md-6 text-lg-left">
                  <div class="copyright">
                      &copy; Copyright <strong>sysbio</strong>. All Rights Reserved
                  </div>
              </div>
              <div class="credits pb-1">
                  <!-- All the links in the footer should remain intact. -->
                  <!-- You can delete the links only if you purchased the pro version. -->
                  <!-- Licensing information: https://bootstrapmade.com/license/ -->
                  <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
                  Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
          </div>
      </div>
  </section>
</footer>