{% assign contacts = site.data.general[site.active_lang].contacts %}
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container px-md-5">
        <div class="row contact d-flex align-items-center ">

            <div class="col-lg-6 col-md-6  col-lg-offset-10 col-md-offset-10 text-lg-left ">
                <div class="contact-about light">
                    <div class="logo">
                        <a href="{{ site.url }}/">
                            <img alt="" src="{{ site.baseurl }}/assets//img/logo/logo1_80_light_2.png">
                        </a>
                    </div>
                    </br>
                    <p class="light">{{contacts.description}}</p>

                    <div class="social-links">
                        {% for item in site.data.settings.social %}
                        <a href="{{ item.link }}" class="{{ item.icon }}" target="_blank"><i
                                class="bi bi-{{ item.icon }}" aria-hidden="true"></i></a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mt-md-0 text-lg-left">
                <div class="info">
                    <div class="pb-1">
                        <h5 class="light">{{ contacts.name }}</h5>
                    </div>
                    <div>
                        <i class="ri-map-pin-line"></i>
                        <p class="light">
                            <a class="light" href="http://imbg.org.ua/uk/dept/enzymology/lab_sysbiol/">
                                {{ contacts.institute }}
                            </a>,
                            </br>{{ contacts.address }}</p>
                    </div>

                    <div>
                        <i class="ri-mail-send-line"></i>
                        <p class="light">{{ contacts.email }}</p>
                    </div>

                    <div>
                        <i class="ri-phone-line"></i>
                        <p class="light">{{ contacts.phone }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>