---
layout: page
title: "Opportunities"
permalink: /opportunities
---
{% assign page-data = site.data.pages.opportunities[site.active_lang] %}

<section id="about" class="about pb-0">
    <div class="container">

        <div class="section-title">
            <h2>{{page-data.title}}</h2>
        </div>

        <div class="row content pb-5">
            <div class="section-title">
                <h3>{{page-data.boholubov-intenship.title}}</h3>
            </div>
            <div class="col-lg-6">
                <p class='text-justify'>
                    {{page-data.boholubov-intenship.description}}
                </p>
                <p class='text-justify'>
                    {{page-data.boholubov-intenship.perks}}
                </p>
                <p class='text-justify'>
                    {{page-data.boholubov-intenship.internship-period}}
                </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p class='text-justify'>
                    {{page-data.boholubov-intenship.areas-title}}
                </p>
                <ul>
                    {% for item in page-data.boholubov-intenship.areas %}
                    <li><i class="ri-check-double-line"></i> {{ item }}
                    </li>
                    {% endfor %}
                </ul>
                <a href=" {{page-data.boholubov-intenship.internship-href}}" class="btn-learn-more">{{page-data.learn-more}}</a>
            </div>
        </div>
        <div class="row content pb-0">
            <div class="section-title">
                <h3>{{page-data.laboratory-internships.title}}</h3>
            </div>
        </div>
        <div class="section-title pt-0">
            <p class='text-justify'>
                {{page-data.laboratory-internships.description}}
            </p>
        </div>
</section>
<section id="faq" class="publications pt-0">

    <div id="sub-publications" class="container">
        {% for item in page-data.laboratory-internships.internships %}
        <div class="row publications-item d-flex align-items-stretch shadow">

            <div class="col-lg-8 publications-right">
                <h4><span class="bold">{{item.title}}</span></h4>
            </div>
            <div class="col-lg-6 publications-right ">
                <h4 class="opportunities">Superviser: {{item.superviser}}</h4>

                <h3 class="text-justify">{{item.description}}</h3>
            </div>
            <div class="col-lg-6 publications-right ">
                <h4>{{item.requirements-title}}</h4>
                <ul>
                    {% for requirement in item.requirements %}
                    <li><i class="ri-check-double-line"></i> {{ requirement }}
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        {% endfor %}
    </div>
</section>


