---
layout: page
title: "Research"
permalink: /research
---
{% assign page-data = site.data.pages.research[site.active_lang] %}


<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>{{ page-data.research-directions.title }}</h2>
        </div>
        <div class="row content">
            <p>
                {{ page-data.research-directions.subtitle }}
            </p>
        </div>

        <div class="row services mt-5">

            {% for item in page-data.research-directions.directions %}
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title"><a href="">{{ item.title }}</a></h4>
                    <p class="description">{{ item.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section><!-- End About Us Section -->
<!-- ======= More Projects Section ======= -->
<section id="more-services" class="more-services">
    <div class="container">
        <div class="section-title">
            <h2>{{ page-data.projects-section.title }}</h2>
            <p>{{ page-data.projects-section.subtitle }}</p>
        </div>
        <div class="row">
            <div class="row">
                {% for item in page-data.projects-section.projects %}
                <div class="col-md-6 d-flex align-items-stretch mt-4">
                    <div class="card" style='background-image: url("{{ site.url }}/{{ item.img }}");'>
                        <div class="card-body">

                            <h5 class="card-title"><a href="">{{ item.title }}</a></h5>
                            <p class="card-text">{{ item.description }}</p>
                            <div class="read-more">
                                <a href="{{ site.url }}/{{ item.project-href }}"><i class="bi bi-arrow-right"></i>{{
                                    page-data.read-more }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
</section><!-- End More Projects Section -->

