---
layout: blog
title: "Blog"
---
{% assign page-data = site.data.pages.blog[site.active_lang] %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <div class="section-title">
                <h2>{{ page-data.title }}</h2>
            </div>
        </div>

    </div>
    <div class="row">
        {% for post in site.posts %}
        {% if post.tags contains page.tag %}
        <div class="col-md-4">
            <div class="blog-entry ftco-animate">
                <a href="#" class="img img-2" style="background-image: url({{ site.baseurl }}/{{post.img}});"></a>
                <div class="text text-2 pt-2 mt-3">
                    <span class="category mb-3 d-block"><a href="#">{{post.category}}</a></span>
                    <h3 class="mb-4"><a href="{{post.url}}">{{post.title}}</a></h3>
                    <p class="mb-4">{{post.description}}</p>
                    <div class="author mb-4 d-flex align-posts-center">
                        <a href="#" class="img"
                           style="background-image: url({{ site.baseurl }}/{{post.author.img}});"></a>
                        <div class="ml-3 info">
                            <span>Written by</span>
                            <h3><a href="{{ site.baseurl }}/{{post.author.href}}">{{post.author.name}}</a>, <span>{{post.day}}</span>
                            </h3>
                        </div>
                    </div>
                    <div class="meta-wrap align-posts-center">
                        <div class="half">
                            <p><a href="{{post.url}}" class="btn py-2">{{page-data.continue}} <span
                                    class="ion-ios-arrow-forward"></span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>